.diamond-loader {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url("/favicon.png");
    background-size: cover;
    will-change: transform;
}

.diamond-loader-shadow {
    position: absolute;
    bottom: -40px;

    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    filter: blur(6px);
    transform: scale(1, 0.55);
    will-change: transform, filter, opacity;
}